#HomeProfilePic {
    position: absolute;
    right: 0px;
    padding: 10px;
}

#ProfileInfo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    position: grid;
    padding: 10px;
}

#Picture {
    border-style: solid;
    border-radius: 100%;
    border-width: 7px;
}

#ImageSelect {
    display: none;
}

#Info {
    position: grid;
    padding: 10px;
}

#Settings {
    position: grid;
    padding: 10px;
}